* {
    margin: 0;
}
header {
    margin-left: 20%;
    margin-right: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;    
}
.header-contacts-menu {
    display: flex;
    gap: 20px;
}
.header-contacts-menu a {
    color: orangered;
    font-size: 25px;
    text-decoration: none;
}
.header-contacts-menu a:hover {
    color: black;
}
.block1 {
    background: linear-gradient(#1c1c1c, #121212);
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 988px;
}
.cook-text {
    font-family: Arial, Helvetica;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 55px;
    margin-top: 190px;
    margin-left: 450px;
    position: relative;

}
.cook-text > p {
    font-size: 20px;
}
.cook-text a {
    color: #fff;
}
a:hover {
    color: #fff;
    text-decoration: none;
}
div .cook-text h2 {
    width: 725px;
    font-weight: 300;
    font-size: 50px;
}
.block1-btn {
    border-radius: 55px;
    background-color: #f14a0e;
    color: #ffffff;
    width: 350px;
    height: 45px;
    border-radius: 55px;
    font-size: 20px;
    font-family: Arial, Helvetica;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 15px;
    cursor: pointer;    
}
.block1-btn:hover {
    background-color: #ffffff;
    color: #f14a0e;
}
.jpg12 {
    margin-left: -200px;
    /* z-index: 1; */
}

/* --------------------------------------------БЛОК 2-------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

.block2 {
    width: auto;
    height: 600px;
    background-color: none;

}
.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: -100px; 
    margin-bottom: 220px;
    /* z-index: 1500; */
}
.icons-text {
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 25px;
}
.orange {    
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    background-color: #f14a0e;    
    width: 350px;
    height: 450px;
    padding: 25px;
    border-radius: 50px;
}
.light-orange {    
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    background-color: #f57e54;    
    width: 350px;
    height: 450px;
    padding: 25px;
    border-radius: 50px;
}
.icons img {
    border-radius: 75px;
    margin-top: 58px;
}
#big-font {
    font-size: 45px;
}
.block3-main {
    display: flex;
    align-content: center;
    justify-content: center;
}
.block3 {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.jpg13 {
    width: 80%;
    height: 850px;
    padding-top: 50px;
    display: flex;
    justify-content: flex-end;  
}
.jpg13 img {
    width: 900px;
    height: 900px;
    border-radius: 50%;
    border: 20px solid orangered;
}
.block3-circle-div {
    width: 220px;
    height: 550px;
    margin-left: -40px;
}
.block3-circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 40px solid #f57e54;
}
.circles-in-main-block {
    display: flex;
    margin-top: -100px;
}
.block3-orange-circle-div {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    width: 500px;
    height: 345px;
    display: flex;
}
.block3-orange-circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: orangered;
}
.circle-in-column {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.small-white-circle-div {
    padding: 50px;
    margin-top: -75px;
    width: 600px;
    height: 125px;
    display: flex;
    justify-content: flex-end;
}
.small-white-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 30px solid #f57e54;    
}
.block3-text-circle-div {
    width: 750px;
    height: 850px;
    margin-top: -150px;
    display: flex;
    justify-content: center;
}
.block3-text-circle {
    padding: 50px;
    width: 600px;
    height: 600px;
    background-color: orangered;
    border-radius: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
div .block3-text-circle h2 {
    font-size: 50px;
    padding-top: 10px;
    margin: 0;
}
div .block3-text-circle h3 {
    font-size: 16px;
}
div .block3-text-circle p {
    font-size: 25px;
    padding: 10px 0;
}
div .block3-text-circle a {
    color: white;
    padding: 5px;
}
.block3-btn {
    background-color: #ffffff;
    color: #f14a0e;
    width: 250px;
    height: 55px;
    border-radius: 55px;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 15px;
    cursor: pointer;    
}
.block3-btn:hover {
    background-color: #d3d2d2;
    color: #f14a0e;
}

/* --------------------------------------------БЛОК 4-------------------------------------- */
/* ----------------------------------------------------------------------------------------- */


.block4 {
    width: auto;
    height: 1200px;
    background-color: #000000;
}
.block4-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.jpg15 {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: flex-start;
}
.jpg15 img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-top: 250px;
}
.jpg14 {
    width: 700px;
    height: 700px;
    display: flex;
    justify-content: flex-end;
}
.jpg14 img {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    margin-top: 50px;
}
.block4-first {
    display: flex;
    justify-content: center;
}
.block4-second {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 700px;
    flex-direction: column;
    align-items: center;
}
.block4-second h2 {
    font-size: 40px;
    color: rgb(255, 255, 255);
    padding-bottom: 35px; 
}
.block4-second a {
    color: rgb(255, 255, 255);
}
.block4-second p {
    font-size: 20px;
    color: rgb(255, 255, 255);
    line-height: 35px;
    font-weight: bold;
    padding: 10px;
}
div .block4-btn {
    z-index: 1001;
    background-color: #f14a0e;
    color: #fff;
    width: 250px;
    height: 35px;
    border-radius: 55px;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 15px;
    cursor: pointer;   
    margin-top: 50px; 
}
div .block4-btn:hover {
    background-color: #ffffff;
    color: #000000;
}

/* --------------------------------------------БЛОК 5-------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

.block5 {
    width: auto;
    height: 900px;
    background-color: #f14a0e;
}
.block5-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.jpg17 {
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: flex-end;
}
.jpg17 img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-top: 15px;
}
.jpg16 {
    width: 700px;
    height: 600px;
    display: flex;
    justify-content: flex-start;
}
.jpg16 img {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    margin-top: 50px;
}
.block5-header {
    font-size: 20px;
    color: #FFF;
    display: flex;
    text-align: center;
    padding-bottom: 40px;
}
.block5-first {
    display: flex;
    justify-content: center;
    z-index: 1000;
    margin-top: -300px;
}
.tab1 {
    padding-left: 30px;
    width: 570px;
    height: 250px;
    font-size: 24px;
    color: rgb(255, 255, 255);
}
.tab-1row, .tab-2row {
    display: flex;
}
.white-circle {
    width: 45px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}
.white-circle p {
    margin-left: 60px;
    padding-top: 10px;
}
div .tab1 p {
    margin-left: 60px;
    padding-top: 10px;
}

/* --------------------------------------------БЛОК 6-------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

.block6-main-block {
    width: auto;
    height: 1700px;
    background-color: white;
}
.block6-main {
    display: flex;
    align-content: center;
    justify-content: center;
}
.block6 {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
}
.jpg18 {
    width: 800px;
    height: 350px;
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
}
.jpg18 img {
    margin-top: 20px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 20px solid orangered;
}
.block6-circle-div {
    width: 220px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 120px;
}
.block6-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #f57e54;
}
.jpg19-with-circle {
    display: flex;
}
.jpg19 {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    width: 550px;
    height: 500px;
    margin-top: -150px;
    display: flex;
}
.jpg19 img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 25px solid orangered;
}
.jpg19-circle-div {
    padding: 50px;
    margin-top: -75px;
    width: 400px;
    height: 125px;
    display: flex;
    justify-content: space-between;
}
.jpg19-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 20px solid orangered;
}
.jpg20 {
    width: 90%;
    height: 500px;
    margin-top: -200px;
    display: flex;
    justify-content: flex-end;
}
.jpg20 img {
    width: 700px;
    height: 700px;
    border-radius: 50%;
    border: 20px solid orangered;
}
.block6-text-div {
    width: 85%;
    height: 500px;
    display: flex;
    justify-content: center;
}
.block6-text {
    padding: 50px;
    padding-top: 0;
    width: 500px;
    height: 400px;
    background-color: orangered;
    border-radius: 50px;
    color: white;
}
div .block6-text h2 {
    font-size: 40px;
    padding-top: 20px;
}
div .block6-text h3 {
    font-size: 16px;
}
div .block6-text p {
    font-size: 20px;
    padding: 20px 0;
}
div .block6-text a {
    color: white;
    padding: 5px;
}
.block6-btn {
    border-radius: 55px;
    background-color: #ffffff;
    color: orangered;
    width: 230px;
    height: 28px;
    border-radius: 55px;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 15px 15px 0;
    padding: 15px 15px;
    cursor: pointer;    
}
.block6-btn:hover {
    background-color: #c5c5c5;
    color: #f14a0e;
}


/* --------------------------------------------БЛОК 7-------------------------------------- */
/* ----------------------------------------------------------------------------------------- */


/* --------------------------------------------БЛОК 8-------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

.block8 {
    background-color: #000000;
    width: auto;
    height: 1800px;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.block8-table {
    z-index: 1000;
    margin-top: -210px;
}
.orange-circle01 {
    width: 250px;
    height: 300px;
    padding: 25px;
    padding-bottom: 20px;
    border-radius: 45px;
    background-color: rgba(86, 86, 86, 0.42);
    color: white;
}
.orange-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: orangered;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Bahnschrift;
    font-size: 30px;
}
div .block8-table-first p {
    font-size: 18px;
    padding-top: 20px;
    margin-bottom: 25px;
}
div .block8-table-second p {
    font-size: 18px;
    padding-top: 20px;
    margin-bottom: 25px;
}
div .block8-table-first a {
    color: white;
    padding-top: 20px;
}
div .block8-table-first a:link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
div .block8-table-first a:hover {
    text-decoration: underline;
    color: orangered;
}
.p {
    text-align: center;
    color: white;
}
.block8-table-first h3 {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}
.block8-table-second h3 {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}
.block8-table-first, .block8-table-second {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

div .block8-table-second a {
    color: white;
    padding-top: 20px;
}
div .block8-table-second a:link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
div .block8-table-second a:hover {
    text-decoration: underline;
    color: orangered;
}
.block8-table a {
    color: white;
}
.block8-main2 {
    display: flex;
    justify-content: center;
    color: #ffffff;
}
.block8-block2-part1 {
    width: 420px;
    height: 420px;
    font-size: 22px;
    font-weight: bold;
}
.block8-block2-img {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 340px;
}
.block8-block2-img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid orangered;
}
.block8-block2-part2 {
    width: 380px;
    height: 500px;
    margin-left: 100px;
    padding: 20px;
}
.block8-block2-part2 h2 {
    font-size: 35px;
}
.block8-block2-part2 p {
    text-align: justify;
    line-height: 25px;
}
.block8-block2-part2 a {
    color: #fff;
}
.block8-block2-part2-btn {
    margin-top: 30px;
    border-radius: 55px;
    background-color: #f14a0e;
    color: #ffffff;
    width: 180px;
    height: 35px;
    border-radius: 55px;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}
.block8-block2-part2-btn:hover {
    background-color: #ffffff;
    color: #f14a0e;
}

.write-email-block8-btn {
    margin-top: 30px;
    border-radius: 55px;
    background-color: #f14a0e;
    color: #ffffff;
    width: 360px;
    height: 35px;
    border-radius: 55px;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;    
}
.write-email-block8-btn:hover {
    background-color: #000000;
    color: #ffffff;
}
.block8-contacts {
    display: flex;
    justify-content: center;
    z-index: 1000;
    margin-bottom: -150px;
}
.contacts {
    display: flex; 
    flex-direction: column; 
    gap: 30px; width: 450px; 
    height: 600px; 
    background-color: #ff8953; 
    padding: 25px; color: azure; 
    font-size: 20px;
}
div .contacts a {
    color: #fff;
}
div .contacts p {
    padding-top: 40px;
}
.write-email {
    padding: 25px;
    background-color: #fff;
}
div .write-email h3 {
    font-size: 45px;
    padding-bottom: 20px;
}
input {
    padding: 10px; 
    width: 90%;
}


/* --------------------------------------------БЛОК 9-------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

.block9 {
    background-color: #fff;
    width: auto;
    height: 150px;
    padding-bottom: 100px;
}


/* --------------------------------------------БЛОК 10-------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

.block10 {
    background-color: #000000;
    width: 100%;
    height: 300px;
}
.foot {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.block10 p {
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
}
hr {
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    margin-left: 30%;
    margin-right: 30%;  
}
.icon {
    padding-bottom: 20px;
}

/* --------------------------------------------БЛОК 11-------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

.block11 {
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.block11 a {
    color: rgb(64, 200, 200);
}
.block11 a:hover {
    color: #737373;
    text-decoration: none;
}


/* --------------------------------------------ФИНИШ-------------------------------------- */
/* --------------------------------------------------------------------------------------- */